asgiref==3.2.*
backports.zoneinfo==0.2.*
coverage==4.5.*
dj-database-url==0.4.*
Django==3.0.*
django-appconf==1.0.*
django-avatar==5.0.*
django-cors-headers==3.11.*
django-crispy-forms==1.14.*
django-imagekit==4.0.*
django-utils-six==2.0.*
djangorestframework==3.13.*
djangorestframework-jwt==1.11.*
Faker==12.0.*
gunicorn==19.7.*
mixer==7.2.*
pilkit==2.*
Pillow==9.0.*
psycopg2==2.9.*
PyJWT==1.5.*
python-dateutil==2.7.*
pytz==2017.*
six==1.11.*
sqlparse==0.3.*
text-unidecode==1.*
uWSGI==2.0.*
