asgiref==3.2.3
backports.zoneinfo==0.2.1
coverage==4.5.1
dj-database-url==0.4.2
Django==3.0.14
django-appconf==1.0.2
django-avatar==5.0.0
django-cors-headers==3.11.0
django-crispy-forms==1.14.0
django-imagekit==4.0.2
django-utils-six==2.0
djangorestframework==3.13.1
djangorestframework-jwt==1.11.0
Faker==12.0.1
gunicorn==19.7.1
mixer==7.2.2
pilkit==2.0
Pillow==9.0.1
psycopg2==2.9.3
PyJWT==1.5.3
python-dateutil==2.7.3
pytz==2017.3
six==1.11.0
sqlparse==0.3.0
text-unidecode==1.2
uWSGI>=2.0.19.1,<2.1
gunicorn
