{% extends "emarket/base.html" %}
{% load static %}
{% load i18n avatar_tags %}

{% block title %}
    Add avatar
{% endblock title %}

{% block content %}
    <div class="container profile">
        <div class="row">
            <div class="col-sm-12" align="center">
                <h2>Add avatar</h2>
                <hr>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
                <p>{% trans "Your current avatar: " %}</p>
                {% avatar user %}
                {% if not avatars %}
                    <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
                {% endif %}
                <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
                    {{ upload_avatar_form.as_p }}
                    <p>{% csrf_token %}<input type="submit" value="{% trans "Upload New Image" %}"/></p>
                </form>
                <div><a href="{% url 'accounts:profile' %}">Return to profile page</a></div>
            </div>
        </div>
    </div>
{% endblock content %}
